$black-90: rgba(0, 0, 0, 0.9);

.works {
  h3 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: $black-90;
    letter-spacing: -0.5px;
  }
  .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}
