$black-90: rgba(0, 0, 0, 0.9);

.works {
  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $black-90;
    letter-spacing: -0.5px;
    @media (max-width: 600px) {
      font-size: 1.1rem;
    }
  }
  .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-block: 2rem;
    gap: 1.5rem;
  }
}
