.header {
  padding-block: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cover-image {
  background-color: yellow;
  height: 150px;
}
.title-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  margin-bottom: 5rem;
}
.profile-photo {
  width: 150px;
  height: 150px;
  background-color: aliceblue;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.username {
  margin: 0rem auto 0rem 10.875rem;
}
.username h1 {
  font-size: 1.456rem;
  font-weight: 700;
  line-height: 1;
}
.username p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.75em;
  line-height: 1;
  color: var(--text-gray);
}
.sub-title {
  color: black;
  font-weight: 700;
  font-size: 1.15rem;
}
.para {
  color: var(--text-gray);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.75em;
  line-height: 1;
}
.buttons-div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
