.container {
  width: min(90%, 1140px);
  margin-inline: auto;
}
.cover-image {
  height: 14rem;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;

  @media (max-width: 800px) {
    height: 10rem;
  }
}
.cover-image img {
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  filter: saturate(0.5) brightness(1.5) contrast(0.9);
  pointer-events: none;
  user-select: none;
}
