.container {
  width: min(100%, 1188px);
  margin-inline: auto;
  padding-inline: 1rem;
}
.cover-image {
  height: 14rem;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.cover-image img {
  width: 100%;
  transform: translateY(-150px);
  filter: saturate(0.5) brightness(1.5) contrast(0.85);
  pointer-events: none;
  user-select: none;
}
